/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Reset CSS */
* {
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2em;
}
body {
  font-size: 15px;
  line-height: 1.5em;
  margin: 0;
  height: 100vh;
  color: #333;
}
/* ########## Health Food ########## */
.health_food {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1100px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.item {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 0 10px;
}
.item:hover {
  box-shadow: none;
}
.item > * {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  transition: 0.5s;
}
.front {
  z-index: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.item:first-child .front {
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.item:nth-child(2) .front {
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
}
.item:last-child .front {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.item:hover .front {
  transform: translateY(-50%);
}
.front img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}
.item:hover .front img {
  animation: imageScale 1s linear infinite;
}
.front h2 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.back {
  padding: 0 15px;
  background-color: #fff;
  opacity: 0;
  z-index: 0;
  transition: 0.5s;
}
.back p {
  margin-top: 20px;
}
.item:hover .back {
  transform: translateY(50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.back a {
  display: inline-block;
  margin-top: 5px;
  background-color: #6ab04c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  transition: 0.5s;
}

.item:first-child .back a {
  background-color: #6ab04c;
}
.item:nth-child(2) .back a {
  background-color: #ff9b9f;
}
.item:last-child .back a {
  background-color: #d2fb7b;
}
.item:first-child .back a:hover {
  background-color: seagreen;
}
.item:nth-child(2) .back a:hover {
  background-color: #e7686d;
}
.item:last-child .back a:hover {
  background-color: #7cd074;
}
/* hover Animation */
@keyframes imageScale {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
