/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
/* Reset CSS */
* {
  box-sizing: border-box;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2em;
}
body {
  font-size: 15px;
  line-height: 1.5em;
  margin: 0;
  height: 100vh;
  color: #333;
  background-color: #badc58;
}
/* ########## Health Food ########## */
.health_food {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1100px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.item {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 0 30px;
  background-color: #fff;
  background-color: #badc58;
}
.item:hover {
  box-shadow: none;
}
.item > * {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  transition: 0.5s;
}
.front {
  z-index: 1;
  background-color: #eeffe3;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.item:hover .front {
  transform: translateY(-50%);
}
.front img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}
.item:hover .front img {
  animation: imageScale 1s linear infinite;
}
.front h2 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.back {
  padding: 0 15px;
  background-color: #fff;
  opacity: 0;
  z-index: 0;
  transition: 0.5s;
}
.item:hover .back {
  transform: translateY(50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.back a {
  display: inline-block;
  margin-top: 5px;
  background-color: #6ab04c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.back a:hover {
  background-color: seagreen;
}
/* hover Animation */
@keyframes imageScale {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
