/* Import Local CSS */
@import url(../css/reset.css);
@import url(../css/variables.css);

* {
  font-family: var(--primaryKr);
}
body {
  margin: 0;
  color: var(--darkBlack);
  line-height: 1.5em;
  font-size: 14px;
}
/* ##### Common CSS ##### */
/* Layout CSS */
.container {
  width: var(--slideBasis);
  position: relative;
  padding-bottom: 65px;
  min-height: 780px;
}
/* Header CSS */
header {
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Header CSS - Login, Register, Cart */
:is(.login, .register, .cart) header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
:is(.login, .register, .cart) header .btn_back {
  background-color: #fff;
  border: none;
  font-size: 22px;
  padding: 0;
}
:is(.login, .register, .cart) header .btn_home {
  font-size: 22px;
}
/* Header CSS - Login, Register, Cart */
:is(.main, .category, .search, .wish_list, .my_page) header {
  background-color: var(--dodgerBlue);
  color: #fff;
}
:is(.main, .category, .search, .wish_list, .my_page) header .logo {
  width: 28px;
  height: 28px;
}
:is(.main, .category, .search, .wish_list, .my_page) header .logo img {
  width: inherit;
  height: inherit;
}
:is(.main, .category, .search, .wish_list, .my_page) header .cart {
  position: relative;
  font-size: 25px;
}
/* Footer CSS */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
footer nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
footer nav a {
  flex: 1;
  text-align: center;
  color: var(--lightGray);
}
footer nav a i {
  font-size: 22px;
}
footer nav a:first-child i {
  font-size: 25px;
}
:is(.main, .category, .search, .wish_list, .my_page) header .cart::after {
  content: attr(data-count);
  position: absolute;
  top: -8px;
  right: -8px;
  width: 18px;
  height: 18px;
  font-size: 12px;
  background-color: var(--red);
  border-radius: 5px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Badge CSS */
.badge {
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 5px;
  color: #fff;
}
.badge.blue {
  background-color: var(--dodgerBlue);
}
.badge.gold {
  background-color: var(--gold);
}
.badge em {
  font-style: normal;
}
/* Star Rating */
.star_rating {
  margin-top: 3px;
  color: var(--lightBlack);
  font-size: 13px;
}
.star_rating::before {
  content: "\F586";
  font-family: "bootstrap-icons";
  display: inline-block;
  transform: translateY(2px);
  color: var(--gold);
}
.star_rating em {
  font-style: normal;
}
/* Button CSS */

/* GNB CSS */

/* ########## Login ########## */
.container.login {
  width: var(--slideBasis);
}
/* ##### Login - Section ##### */
.login section {
  padding: 30px 20px;
  font-size: 15px;
}
.login_heading {
  text-align: center;
}
.login_heading p {
  margin-top: 0;
  margin-bottom: 30px;
}
.login_heading p b {
  font-weight: 700;
}
.login_heading .kakao {
  display: block;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  background-color: #fae100;
}
.login_heading .kakao span::before {
  content: "\F24B";
  font-family: "bootstrap-icons";
  display: inline-block;
  transform: translateY(2px);
  margin-right: 5px;
}
.login_form {
  margin-top: 30px;
}
.login_form input {
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: 1px solid var(--cloudyGray);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0 15px;
  font-size: 15px;
}
.login_form input::placeholder {
  color: var(--sliverGray);
  transition: 0.35s;
}
.login_form input:focus::placeholder {
  opacity: 0;
}
.login_check_field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.login_check_field input {
  display: none;
}
.login_check_field label {
  cursor: pointer;
  font-size: 15px;
}
.login_check_field label::before {
  content: "\F26B";
  font-family: "bootstrap-icons";
  display: inline-block;
  transform: translateY(3px);
  margin-right: 5px;
  color: var(--lightGray);
  transition: 0.35s;
  font-size: 18px;
}
.login_check_field input:checked + label::before {
  content: "\F26A";
  color: var(--dodgerBlue);
}
.login_form :is(.btn_login, .btn_sign_up) {
  display: block;
  height: 45px;
  line-height: 45px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 15px;
}
.login_form .btn_login {
  width: 100%;
  border: none;
  background-color: var(--dodgerBlue);
  color: #fff;
}
.login_form .btn_sign_up {
  text-align: center;
  background-color: var(--aliceBlue);
  color: var(--dodgerBlue);
}
.login_form .forgot {
  display: flex;
  justify-content: center;
  color: var(--darkGray);
  font-size: 15px;
}
.login_form .forgot a:first-child::after {
  content: "|";
  font-size: 15px;
  margin: 0 10px;
}

/* ########## Register ########## */
.register section {
  padding: 20px;
}
form.sign_up {
  font-size: 15px;
}
.sign_up button {
}
.sign_up .input_field {
  margin-bottom: 30px;
}
.sign_up .input_field b,
.sign_up .phone b,
.sign_up .gender b {
  display: block;
  margin-bottom: 5px;
}
.sign_up .input_field b::after,
.sign_up .phone b::after,
.sign_up .gender b::after {
  content: "*";
  color: crimson;
  margin-left: 3px;
}
.sign_up .input_field input {
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: 1px solid var(--cloudyGray);
  border-radius: 5px;
  padding: 0 15px;
  font-size: 15px;
}
.sign_up .input_field span {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: var(--lightGray);
}
.sign_up .input_field .post {
  display: flex;
  gap: 10px;
}
.sign_up .input_field.address input {
  margin-bottom: 10px;
}
.sign_up .input_field .post input {
  flex: 3;
}
.sign_up .input_field .post .btn_address {
  flex: 1;
  height: 45px;
  border: none;
  border: 1px solid var(--dodgerBlue);
  background-color: #fff;
  color: var(--dodgerBlue);
  border-radius: 5px;
  font-size: 15px;
}
.sign_up .phone {
  margin-bottom: 30px;
}
.sign_up .phone_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign_up .phone_inner :is(select, input, .btn_code) {
  width: 70px;
  height: 45px;
  line-height: 45px;
  font-size: 15px;
  border: 1px solid var(--cloudyGray);
  border-radius: 5px;
}
.sign_up .phone_inner :is(select, input) {
  padding-left: 15px;
}
.sign_up .phone_inner select {
}
.sign_up .phone_inner i {
  display: inline-block;
  transform: translateY(2px);
  color: var(--lightBlack);
}
.sign_up .phone_inner .btn_code {
  border-color: var(--dodgerBlue);
  background-color: #fff;
  color: var(--dodgerBlue);
  margin-left: 5px;
}
.sign_up .gender {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--cloudyGray);
}
.sign_up .gender input {
  display: none;
}
.sign_up .gender label {
  color: var(--lightBlack);
  margin-right: 30px;
}
.sign_up .gender label::before {
  content: "\F28A";
  font-family: "bootstrap-icons";
  display: inline-block;
  transform: translateY(2px);
  margin-right: 5px;
}
.sign_up .gender input:checked + label::before {
  content: "\F518";
  color: var(--dodgerBlue);
}
.sign_up .agree {
  margin-top: 30px;
  font-size: 12px;
}
.sign_up .agree span {
  display: block;
  margin-bottom: 10px;
}
.sign_up .agree input {
  display: none;
}
.sign_up .agree label {
  display: block;
  margin-bottom: 10px;
  color: var(--lightBlack);
}
.sign_up .agree label[for="agree_all"] {
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--darkBlack);
  font-size: 14px;
}
.sign_up .agree label::before {
  content: "\F26B";
  font-family: "bootstrap-icons";
  display: inline-block;
  transform: translateY(3px);
  margin-right: 5px;
  color: var(--lightGray);
  font-weight: 400;
  font-size: 14px;
}
.sign_up .agree input:checked + label::before {
  content: "\F26A";
  color: var(--dodgerBlue);
}
.sign_up .agree em {
  display: inline-block;
  font-style: normal;
  margin-bottom: 15px;
  color: var(--lightGray);
}
.sign_up .agree p {
  margin-top: 20px;
  text-align: center;
  color: var(--lightGray);
}
.sign_up .agree p a {
  text-decoration: underline;
}
.sign_up .btn_sign_up {
  width: 100%;
  height: 45px;
  background-color: var(--dodgerBlue);
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 5px;
}
/* ########## Category ########## */
.category section {
  font-size: 16px;
}
.category input {
  display: none;
}
.category :is(.view_all, .electronics),
.category label {
  display: block;
  position: relative;
  height: 50px;
  border-bottom: 1px solid var(--cloudyGray);
  line-height: 50px;
  padding-left: 60px;
  font-size: 16px;
  color: var(--darkBlack);
}
.category label::after {
  content: "\F282";
  font-family: "bootstrap-icons";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-weight: 700;
  color: var(--lightGray);
  transition: 0.35s;
}
.category input:checked + label::after {
  transform: translateY(-50%) rotate(180deg);
}
.category input:checked + label span {
  color: var(--dodgerBlue);
}
.category :is(.view_all, .electronics) a {
  display: block;
  width: 100%;
  height: 100%;
}
.category :is(.view_all, .electronics) img,
.category label img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  filter: brightness(0) saturate(100%) invert(92%) sepia(11%) saturate(0%)
    hue-rotate(183deg) brightness(86%) contrast(75%);
}
.category input:checked + label img {
  filter: brightness(0) saturate(100%) invert(32%) sepia(48%) saturate(2936%)
    hue-rotate(194deg) brightness(95%) contrast(105%);
}
.category :is(.view_all, .electronics) span {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
}
.category .accordion_content {
  background-color: var(--ghostWhite);
  font-size: 15px;
  display: none;
}
.category .accordion_content a {
  display: block;
  padding: 7px;
  padding-left: 70px;
}
.category input:checked + label + .accordion_content {
  display: block;
}
.category footer nav a:first-child {
  filter: brightness(0) saturate(100%) invert(32%) sepia(48%) saturate(2936%)
    hue-rotate(194deg) brightness(95%) contrast(105%);
}
/* ########## Search ########## */
.search section {
  padding: 20px;
  padding-bottom: 30px;
  font-size: 16px;
}
.search_field {
  display: flex;
}
.search_field input,
.btn_search {
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  border: none;
}
.search_field input {
  flex: 5;
  padding-left: 20px;
  background-color: var(--ghostWhite);
  border-radius: 20px 0 0 20px;
}
.search_field input:focus::placeholder {
  opacity: 0;
}
.btn_search {
  flex: 1;
  background-color: var(--dodgerBlue);
  color: #fff;
  border-radius: 0 20px 20px 0;
  padding-right: 10px;
}
.search_recent_word {
  margin-top: 30px;
}
.recent_word_items {
  margin-top: 15px;
}
.recent_word_items a {
  display: block;
  width: fit-content;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--dodgerBlue);
  background-color: var(--aliceBlue);
  border-radius: 5px;
}
.recent_word_items a i {
  display: inline-block;
  font-size: 18px;
  margin-left: 5px;
  transform: translateY(2px);
}
.search_keyword {
  margin-top: 30px;
}
.search_keyword b {
  display: block;
  margin-bottom: 15px;
}
.search_keyword a {
  background-color: var(--aliceBlue);
  color: var(--dodgerBlue);
  font-size: 14px;
  margin-right: 10px;
  padding: 8px 12px;
  border-radius: 20px;
}
.search_keyword a img {
  width: 18px;
  height: 18px;
  transform: translateY(3px);
  filter: brightness(0) saturate(100%) invert(32%) sepia(48%) saturate(2936%)
    hue-rotate(194deg) brightness(95%) contrast(105%);
}
.search_keyword a span {
  margin-left: 3px;
}
.search_hot {
  margin-top: 30px;
}
.search_hot_items {
  display: flex;
  margin-top: 15px;
}
.search_hot_item {
  flex: 1;
}
.search_hot_item:nth-child(1) {
  counter-reset: left 0;
}
.search_hot_item:nth-child(2) {
  counter-reset: right 4;
}
.search_hot_item a {
  display: block;
  margin-bottom: 12px;
}
.search_hot_item:nth-child(1) a::before,
.search_hot_item:nth-child(2) a::before {
  color: var(--dodgerBlue);
  font-weight: 700;
  margin-right: 10px;
}
.search_hot_item:nth-child(1) a::before {
  content: counter(left);
  counter-increment: left;
}
.search_hot_item:nth-child(2) a::before {
  content: counter(right);
  counter-increment: right;
}
.search_recent {
  margin-top: 30px;
}
.search_recent_items {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.search_recent_item {
  width: calc(50% - 10px);
}
.search_recent_item_thum {
  width: 100%;
  height: 150px;
}
.search_recent_item_thum a {
  width: inherit;
  height: inherit;
}
.search_recent_item_thum a > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 10px;
}
.search_recent_item_desc {
}
.search_recent_item_desc p {
  margin: 0;
  margin-top: 5px;
  font-size: 13px;
}
.search_recent_item_desc p span {
  display: block;
}
.search_recent_item_desc :is(s, b) {
  display: block;
}
.search_recent_item_desc s {
  font-size: 12px;
  color: var(--lightGray);
}
.search_recent_item_desc b {
  color: var(--dodgerBlue);
  margin-bottom: 3px;
}
.search_keyword .search footer nav a:nth-child(2) {
  filter: brightness(0) saturate(100%) invert(32%) sepia(48%) saturate(2936%)
    hue-rotate(194deg) brightness(95%) contrast(105%);
}
