/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Bootstrap Icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Reset CSS */
* {
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2em;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-size: 15px;
  line-height: 1.5em;
  min-height: 100vh;
  margin: 0;
  color: #333;
}
/* ##### Header Navigation ##### */
.container {
  min-height: inherit;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  color: #fff;
  transition: 0.5s;
}
header nav {
  width: 1200px;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  font-size: 30px;
  font-weight: 500;
}
header nav .gnb {
  display: flex;
  gap: 30px;
}
header nav .gnb a {
  position: relative;
  font-size: 18px;
}
header nav .gnb a::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.35s;
  opacity: 0;
}
header nav .gnb a:hover::after {
  opacity: 1;
}
header nav .btn_field {
  position: relative;
  display: flex;
  gap: 30px;
}
header nav .btn_field span {
  position: relative;
}
header nav .btn_field :is(.btn_dark, .btn_search)::after {
  font-family: "bootstrap-icons";
  cursor: pointer;
  transition: 0.2s;
}
header nav .btn_field :is(.btn_dark, .btn_search):hover::after {
  color: #ddd;
}
header nav .btn_field .btn_dark::after {
  content: "\F1D2";
  font-size: 18px;
}
header nav .btn_field .btn_search::after {
  content: "\F52A";
}
header nav .btn_field .search_field {
  position: absolute;
  bottom: -80px;
  right: -20px;
  border: 5px solid dodgerblue;
  border-radius: 10px;
  display: none;
  transition: 0.5s;
}
header nav .btn_field .search_field::after {
  content: "";
  position: absolute;
  top: -8px;
  right: 20px;
  background-color: dodgerblue;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  z-index: -1;
  transition: 0.5s;
}
header nav .btn_field .search_field input {
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  background-size: 18px;
}
header nav .btn_field .search_field input::placeholder {
  transition: 0.35s;
}
header nav .btn_field .search_field input:focus::placeholder {
  opacity: 0;
}
header nav .btn_field .search_field img {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(47%) sepia(19%) saturate(4926%)
    hue-rotate(190deg) brightness(98%) contrast(108%);
}
section {
  background-color: #fff;
  height: 100vh;
  transition: 0.5s;
}
/* ##### Header Navigation - Dark Mode ##### */
header.active {
  background-color: #333;
  color: #999;
}
header.active nav .gnb a::after {
  background-color: #999;
}
section.active {
  background-color: #000;
}
header.active nav .btn_field .search_field {
  border-color: #777;
}
header.active nav .btn_field .search_field::after {
  background-color: #777;
}
header.active nav .btn_field .search_field img {
  filter: brightness(0) saturate(100%) invert(42%) sepia(44%) saturate(18%)
    hue-rotate(12deg) brightness(101%) contrast(96%);
}
