/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
/* Reset CSS */
* {
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2em;
}
body {
  font-size: 15px;
  line-height: 1.5em;
  margin: 0;
  height: 100vh;
  color: #fff;
}
/* ########## Profile Card UI ########## */
section {
  height: inherit;
}
.card_items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
}
.item {
  position: relative;
  width: 300px;
  height: 450px;
  border-radius: 7px;
  overflow: hidden;
  transition: 0.5s;
}
.item:hover {
  transform: translateY(-20px);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}
.photo {
  width: inherit;
  height: inherit;
}
.photo img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  transition: 0.5s;
}
.item:hover .photo img {
  filter: grayscale(1);
}
.desc {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  transition: 0.5s;
}
.item:nth-of-type(1) .desc {
  background: linear-gradient(0deg, #badc58, transparent);
}
.item:nth-of-type(2) .desc {
  background: linear-gradient(0deg, crimson, transparent);
}
.item:nth-of-type(3) .desc {
  background: linear-gradient(0deg, #686de0, transparent);
}
.item:hover .desc {
  top: 0;
}
.desc_inner {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.desc_inner h3 span {
  display: block;
  color: gold;
  font-size: 15px;
}
.sns {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.sns a {
  font-size: 20px;
  margin: 0 3px;
  transition: 0.35s;
}
.sns a:hover {
  color: #999;
}
