/* ##### Mobile Responsive ##### */
@media (max-width: 768px) {
  /* ##### Header ##### */
  header {
    position: fixed;
  }
  /* ##### Event Modal ##### */
  .event_modal {
    top: 50px;
    left: 20px;
    transform: none;
    width: calc(100% - 40px);
  }
  .event_modal .item {
    width: 100%;
    height: 100%;
  }
  header {
    background-color: #fff;
    color: #333;
    padding-top: 0;
    padding: 15px 0;
  }
  header .logo {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
    width: 100px;
    margin-bottom: 0;
  }
  nav {
    width: 100%;
    padding: 0 20px;
    padding-bottom: 0;
  }
  nav::after {
    display: none;
  }
  header.active nav::after {
    display: none;
  }
  /* ##### Header - LNB ##### */
  .lnb li:not(:last-child) {
    display: none;
  }
  /* ##### Header - GNB ##### */
  .gnb {
    display: none;
  }
  /* ##### Header - Trigger ##### */
  .trigger {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  .trigger.active {
    top: 50%;
    right: 20px;
  }
  .trigger span {
    background-color: #333;
  }
  .sitemap {
    top: 38px;
    left: 0;
    width: 100%;
    display: block;
  }
  .sitemap_product,
  .sitemap_collection,
  .sitemap_search,
  .sitemap_service {
    display: none;
  }
  /* ##### Mobile Sitemap ##### */
  .mobile_sitemap {
    display: block;
  }
  .mobile_sitemap_header {
    padding: 10px 20px;
    border-top: 1px solid #ddd;
  }
  .mobile_input_field {
    position: relative;
  }
  .mobile_input_field input {
    width: 100%;
    font-size: 18px;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #333;
  }
  .mobile_input_field input::placeholder {
    color: #999;
    transition: 0.35s;
  }
  .mobile_input_field input:focus::placeholder {
    color: transparent;
  }
  .mobile_input_field i {
    position: absolute;
    font-size: 18px;
    right: 5px;
    top: 7px;
    filter: brightness(0) saturate(100%) invert(61%) sepia(23%) saturate(12%)
      hue-rotate(90deg) brightness(98%) contrast(79%);
  }
  .mobile_sitemap_header .btns {
    display: flex;
    margin-top: 20px;
    gap: 10px;
  }
  .mobile_sitemap_header .btn_sign_in,
  .mobile_sitemap_header .btn_sign_up {
    flex: 1;
    text-align: center;
    padding: 7px 0;
    border: 1px solid #333;
  }
  .mobile_sitemap_section {
    margin-top: 10px;
  }
  .mobile_registration,
  .mobile_accordion_title,
  .mobile_accordion_content a {
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
  }
  .mobile_registration {
    position: relative;
    background-color: #000;
    color: #fff;
  }
  .mobile_registration::after {
    content: "\F285";
    font-family: "bootstrap-icons";
    position: absolute;
    right: 20px;
  }
  .mobile_accordion {
    color: #999;
  }
  .mobile_accordion li {
  }
  .mobile_accordion_title {
    transition: 0.5s;
  }
  .mobile_accordion_title.active {
    background-color: #000;
    color: #fff;
  }
  span.mobile_accordion_title::after {
    content: "\F64D";
    font-family: "bootstrap-icons";
    position: absolute;
    right: 20px;
    font-size: 18px;
    transform: translateY(1px);
  }
  a.mobile_accordion_title {
  }
  span.mobile_accordion_title.active::after {
    content: "\F2EA";
  }
  .mobile_accordion_content {
    display: none;
  }
  .mobile_accordion_content a {
    padding: 15px 30px;
    text-decoration: none;
  }
  /* ########## Section - Intro ########## */
  section.intro {
    width: 100%;
    height: 300px;
    margin-top: 55px;
  }
  section.intro iframe {
    pointer-events: none;
    position: relative;
    transform: scale(1.5);
    z-index: -1;
  }
  /* ########## Section - Coffee, Mixer, Wine Cooler  ########## */
  /* ##### COMMON ##### */
  .feature .learn_more {
    width: 100%;
    height: 300px;
    margin-top: -20px;
  }
  .coffee .learn_more {
    background: url(../image/main_visual_02.jpg) no-repeat center right -150px /
      cover;
  }
  .mixer .learn_more {
    position: relative;
    background: url(../image/main_item_visual_hmf01.png) no-repeat center right -50px /
      cover;
  }
  .mixer .learn_more::after,
  .wine_cooler .learn_more::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .wine_cooler .learn_more {
    background: url(../image/main_item_visual_SCV115A.png) no-repeat center
      center / cover;
  }
  /* ##### Heading ##### */
  /* COMMON */
  .coffee_heading,
  .mixer_heading,
  .wine_cooler_heading {
    position: relative;
    left: 20px;
    width: 80%;
    z-index: 10;
  }
  .coffee_heading h2,
  .mixer_heading h2,
  .wine_cooler_heading h2 {
    font-weight: 400;
    font-size: 22px;
  }
  .coffee_heading p,
  .mixer_heading p,
  .wine_cooler_heading p {
    font-size: 15px;
  }
  /* ##### Coffee, Mixer - Detail ##### */
  /* ##### Color ##### */
  .feature .detail .color {
    float: none;
    width: 100%;
    height: auto;
    padding: 30px 0;
  }
  .coffee_machine,
  .mixer_machine,
  .wine_cooler_machine {
    width: 100%;
    height: 360px;
    margin-top: 0;
  }
  /* ##### Coffee, Mixer, Wine Cooler - Photo ##### */
  :is(.coffee, .mixer, .wine_cooler) .detail .photo {
    display: none;
  }
  :is(.coffee, .mixer, .wine_cooler) h2 {
    font-size: 30px;
  }
  .wine_cooler h2 {
    margin-top: 30px;
  }
  .btn_colorize label {
    width: 25px;
    height: 25px;
    margin: 0 5px;
  }
  /* ########## Section - News ########## */
  section.news {
    padding: 30px 20px;
  }
  .news_inner {
    width: 100%;
    display: block;
  }
  .news .heading h2 {
    font-size: 40px;
  }
  .news .heading span {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .banner_outer .items {
    display: block;
    margin-bottom: 0px;
  }
  .banner_outer .item {
    margin-bottom: 30px;
  }
  .banner_outer .item a {
    width: 100%;
  }
  .banner_outer .item p {
    font-size: 18px;
  }
  /* ########## Section - Benefit ########## */
  section.benefit {
    height: auto;
    padding: 20px 0;
  }
  .benefit_inner {
    width: 100%;
    display: block;
  }
  .benefit .desc {
    padding: 0 20px;
    width: 90%;
  }
  .benefit .desc h2 {
    font-size: 35px;
  }
  .benefit .items {
    width: 100%;
    justify-content: space-around;
    padding: 20px;
    padding-top: 5px;
    gap: 20px;
    flex-wrap: wrap;
  }
  .benefit .item {
    flex-basis: 130px;
    height: 150px;
  }
  .benefit .item a {
    width: 100%;
    height: 100%;
  }
  .benefit .item a img {
    width: 70%;
    height: 70%;
  }
  .benefit .item span {
    bottom: 0;
    font-weight: 500;
    width: 100%;
    text-align: center;
  }
  /* ########## Footer ########## */
  footer {
    padding: 40px 20px;
    padding-bottom: 60px;
  }
  .footer_inner {
    width: 100%;
    flex-direction: column;
  }
  .introduce {
    display: flex;
    flex-wrap: wrap;
  }
  .introduce a {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .policy a:not(:last-child)::after {
    margin-left: 12px;
    margin-right: 10px;
  }
  .footer_inner .menu .links .repair {
    display: block;
    margin-top: 30px;
  }
  .footer_inner .menu .links .repair a {
    margin-right: 10px;
  }
  .smeg_info p {
    margin: 30px 0;
    width: 280px;
  }
  .smeg_info span {
    font-size: 12px;
  }
  .inquiry {
    padding-left: 0;
  }
  .inquiry .repair {
    display: none;
  }
  .safety {
    margin-top: 30px;
  }
  footer .sns a {
    margin-right: 15px;
  }
}
