/* Bootstrap Icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
/* Reset CSS */
* {
  box-sizing: border-box;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2em;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-size: 14px;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  color: #333;
  overflow-x: hidden;
}
/* ########## Logitech ########## */
/* ##### COMMON ##### */
.inner {
  width: 1250px;
  margin: auto;
}
a.language {
  font-weight: 700;
}
a.language:hover {
  text-decoration: underline;
}
a.language::before {
  content: "\F882";
  font-family: "bootstrap-icons";
  display: inline-block;
  margin-right: 5px;
  transform: translateY(2px);
}
.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
a.btn_heading {
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #fff;
  color: #333;
  font-weight: 700;
  border: 2px solid transparent;
  transition: 0.35s;
}
a.btn_heading:hover {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}
/* Slick.js Custom CSS */
/* Pagination Dots */
.slick-dots {
  bottom: -70px;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slick-dots li {
  margin: 0 8px;
}
.slick-dots li button:before {
  font-size: 0px;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  opacity: 1;
  border: 3px solid transparent;
  transition: 0.5s;
}
.slick-dots li.slick-active button:before {
  border-radius: 50%;
  border: 3px solid #000;
  background-color: transparent;
}
/* Pagination Dots - Environment Slider */
.envi_slider .slick-dots {
  bottom: 40px;
}
.envi_slider .slick-dots li button:before {
  background-color: #fff;
  opacity: 1;
}
.envi_slider .slick-dots li.slick-active button:before {
  border: 3px solid #fff;
  background-color: transparent;
}

/* Prev, Next Arrows - Product Slider */
.product_slider .slick-prev,
.product_slider .slick-next {
  width: 150px;
  height: 100%;
  z-index: 100;
  transition: 0.35s;
}
.product_slider .slick-prev:hover,
.product_slider .slick-next:hover {
  background-color: #f4f4f4;
}
.product_slider .slick-prev {
  left: calc(-150px - 20px);
}
.product_slider .slick-next {
  left: calc(100% + 20px);
}
.product_slider .slick-prev:before,
.product_slider .slick-next:before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "bootstrap-icons";
  font-size: 50px;
  color: #bbb;
}
.product_slider .slick-prev:before {
  content: "\F284";
}
.product_slider .slick-next:before {
  content: "\F285";
}
/* Prev, Next Arrows - Environment Slider */

/* ##### Container ##### */
.container {
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
/* ########## Header ########## */
header {
  position: absolute;
  width: 100%;
  z-index: 9999;
}
/* Mobile */
.mobile_header {
  display: none;
}
.mobile_gnb {
  display: none;
}
/* Mobile End */
.header_top {
  padding: 10px 0;
  color: #777;
}
.header_top .inner {
  display: flex;
  justify-content: space-between;
}
.brand {
  display: flex;
}
.small_logo {
  position: relative;
}
.small_logo::before {
  content: url(../image/logitechg-grey.svg);
}
.small_logo:hover::before {
  content: url(../image/logitechg.svg);
}
.small_logo::after {
  content: "|";
  color: #bbb;
  font-size: 18px;
  display: inline-block;
  transform: translateY(-2px);
  margin: 0 10px;
}
.our_brand {
  position: relative;
  cursor: pointer;
  padding: 0 10px;
}
.our_brand input {
  display: none;
}
.our_brand label {
  cursor: pointer;
}
.our_brand label::after {
  content: "\F282";
  font-family: "bootstrap-icons";
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin-left: 5px;
  transition: 0.5s;
}
input[id="brand"]:checked + label::after {
  transform: rotate(180deg);
}
.our_brand_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 0;
  background-color: #fff;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}
input[id="brand"]:checked ~ .our_brand_list {
  max-height: 200px;
}
.our_brand_list li a {
  position: relative;
  display: block;
  text-align: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}
.our_brand_list li:last-child a {
  border-bottom: none;
}
a.stream::before {
  content: url(../image/streamlabs-grey.svg);
}
a.ultimate::before {
  content: url(../image/ultimate-ears-grey.svg);
}
a.jaybird::before {
  content: url(../image/jaybird-grey.svg);
}
a.stream:hover::before {
  content: url(../image/streamlabs.svg);
}
a.ultimate:hover::before {
  content: url(../image/ultimate-ears.svg);
}
a.jaybird:hover::before {
  content: url(../image/jaybird.svg);
}
/* ########## Header - Nav ########## */
nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  padding: 30px 0;
  background-color: transparent;
  transition: 0.5s;
  z-index: 1000;
}
nav .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 120px;
}
.logo img {
  width: 100%;
}
/* ##### Nav - GNB ##### */
.gnb {
  display: flex;
  background-color: transparent;
}
.gnb li {
}
.gnb_title {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.gnb_title:hover {
  background-color: #fff;
}
/* GNB - MegaBox - COMMON */
.mega_box_item.border_right {
  border-right: 1px solid #ddd;
  margin-right: 50px;
}
.mega_box_item li img.search_mega_box_photo {
  width: 200px;
  height: auto;
}
.mega_box_item li a.search_mega_box_desc {
  font-size: 15px;
  font-weight: 700;
}
.mega_box_item li a.search_mega_box_desc::after {
  content: "\F285";
  font-family: "bootstrap-icons";
  display: inline-block;
  transform: translateY(2px);
  margin-left: 5px;
}
/* GNB - MegaBox */
.mega_box {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #333;
}
.mega_box_inner {
  position: relative;
  width: 1250px;
  margin: auto;
  padding-top: 50px;
  padding-left: 100px;
}
.mega_box_inner .btn_close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.mega_box_inner .btn_close:hover {
  text-decoration: underline;
}
.mega_box_inner .btn_close::after {
  content: "\F62A";
  font-family: "bootstrap-icons";
  display: inline-block;
  font-size: 20px;
  transform: translateY(5px);
}
.mega_box_row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.mega_box_item {
  width: 200px;
}
.mega_box_item li {
}
.mega_box_item li img {
  height: 30px;
  margin-bottom: 10px;
}
.mega_box_item.width {
  width: 300px;
  padding-right: 50px;
}
.mega_box_item.width li img {
  width: 100%;
  height: auto;
}
.mega_box_item li a {
  display: inline-block;
  padding: 5px;
  padding-left: 0;
}
.mega_box_item li a:hover {
  text-decoration: underline;
}
a.mega_box_item_title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}
/* ##### Header - LNB ##### */
.lnb a {
  display: inline-block;
  margin-left: 20px;
  transition: 0.2s;
}
.lnb a:hover {
  color: #ddd;
}
.lnb a:nth-child(1) {
  font-size: 15px;
  transform: translateY(-2px);
}
.lnb a:nth-child(2) {
  font-size: 20px;
}
/* ########## Section - Intro ########## */
section.intro {
  padding-top: 45px;
  width: 100%;
}
section.intro img {
  max-width: 100%;
  height: auto;
}
.heading_intro h1 {
  font-size: 65px;
  font-weight: 700;
}
.heading_intro b {
  font-size: 20px;
  display: block;
  margin: 20px 0;
}
.heading_intro span {
  font-size: 18px;
}
.heading_intro .btn_heading {
  background-color: #333;
  color: #fff;
}
.heading_intro .btn_heading:hover {
  border: 2px solid #333;
  color: #333;
}
/* ########## Section - Main Product ########## */
.main_product {
  margin-top: 100px;
  margin-bottom: 150px;
}
.product_items {
  display: flex;
  gap: 30px;
}
.product_item {
  flex: 1;
}
.product_item .photo {
  overflow: hidden;
}
.product_item .photo a img {
  display: block;
  width: 100%;
  transition: 0.2s;
}
.product_item .photo a img:hover {
  transform: scale(1.05);
}
.product_item .desc {
  margin-top: 20px;
}
.product_item .desc a:hover {
  text-decoration: underline;
}
.product_item .desc .title {
  font-size: 20px;
  font-weight: 700;
}
.product_item .desc p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.product_item:last-child .desc p {
  margin-bottom: 10px;
}
.product_item .desc .buy {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}
.product_item .desc .buy::after {
  content: "\F285";
  font-family: "bootstrap-icons";
  display: inline-block;
  margin-left: 5px;
  vertical-align: text-bottom;
  transform: translateY(1px);
}
/* ##### Main Product - Product Slider ##### */
/* COMMON */
.product_slider {
  margin-top: 100px;
  padding: 0 1px;
}
.slider_items {
  overflow: hidden;
  height: 700px;
}
.slider_items span.reverse {
  top: 30px;
}
.slider_items .item a {
  overflow: hidden;
}
.slider_items .item a img {
  transition: 0.2s;
}
.slider_items .item a img:hover {
  transform: scale(1.1);
}
/* Product Slider - Keyboard */
.slider_items.keyboard .left {
  float: left;
  width: calc(70% - 10px);
  margin-right: 10px;
  height: inherit;
}
.slider_items .item {
  position: relative;
}
.slider_items.keyboard .left .item_wrapper {
  width: 100%;
  height: calc(30% - 10px);
}
.slider_items.keyboard .left .item_wrapper .item:first-child,
.slider_items.keyboard .left .item_wrapper .item:nth-child(2) {
  width: calc(50% - 10px);
  height: 100%;
}
.slider_items.keyboard .left .item_wrapper .item:first-child {
  float: left;
  margin-right: 10px;
}
.slider_items.keyboard .left .item_wrapper .item:nth-child(2) {
  float: right;
  margin-left: 10px;
}
.slider_items.keyboard .left .item:first-child {
  width: 100%;
  height: calc(70% - 10px);
  margin-bottom: 20px;
}
.slider_items.keyboard .left .item a {
  display: block;
  width: 100%;
  height: 100%;
}
.slider_items.keyboard .left .item a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider_items.keyboard .right {
  float: right;
  width: calc(30% - 10px);
  margin-left: 10px;
  height: 100%;
}
.slider_items.keyboard .right .item {
  height: 100%;
}
.slider_items.keyboard .right .item a,
.slider_items.keyboard .right .item a img {
  display: block;
  width: 100%;
  height: 100%;
}
.slider_items.keyboard .right .item a img {
  object-fit: cover;
}
.slider_items span {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 700;
}
/* Product Slider - Camera */
.slider_items.camera :is(.left, .center, .right) {
  float: left;
  height: 100%;
}
.slider_items.camera :is(.left, .center) {
  width: calc(33.333333% - 20px);
  margin-right: 20px;
}
.slider_items.camera .center {
  height: 100%;
}
.slider_items.camera .right {
  width: 33.333333%;
}
.slider_items.camera .right .item:first-child {
  height: calc(50% - 20px);
  margin-bottom: 20px;
}
.slider_items.camera .right .item:nth-child(2) {
  height: 50%;
}
.slider_items.camera .item {
  width: 100%;
  height: 100%;
}
.slider_items.camera .item a,
.slider_items.camera .item a img {
  display: block;
  width: 100%;
  height: 100%;
}
.slider_items.camera .item a img {
  object-fit: cover;
}
/* ########## Section - Environment ########## */
.envi_slider {
  max-width: 100%;
  height: 600px;
}
.envi_slider .item {
  max-width: 100%;
  position: relative;
  height: auto;
  height: 600px;
  min-height: 500px;
}
.envi_slider .item .heading {
  color: #fff;
  top: 50%;
  width: 40%;
}
.envi_slider .item .heading em {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 10px;
}
.envi_slider .item .heading h2 {
  font-size: 60px;
  line-height: 1em;
}
.envi_slider .item .heading p {
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 400;
}
.envi_slider .item .heading span {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
}
.envi_slider .item .btn_heading {
  margin-top: 30px;
  padding: 15px 30px;
}
/* Item - Plastic */
.envi_plastic {
  background: url(../image/pcr-plastic-desktop.jfif) no-repeat bottom center /
    cover;
}
.envi_slider .item .heading_plastic {
  top: 35%;
}
.envi_slider .item .heading_plastic span {
  margin-top: 10px;
}
.heading_plastic .photo img {
  margin: auto;
}
/* Item - Future */
.envi_future {
  background: url(../image/future-positive-challenge-desktop.jpg) no-repeat
    center center / cover;
}
/* Item - Climate */
.envi_climate {
  background: url(../image/climate-positive-desktop.jfif) no-repeat center
    center / cover;
}
/* Item - Carbon */
.envi_carbon {
  background: url(../image/carbon-methodology-desktop.png) no-repeat center
    center / cover;
}
.envi_carbon .btn_heading {
  background-color: #dcfc00;
}
.envi_carbon .btn_heading:hover {
  color: #dcfc00;
  border-color: #dcfc00;
}
/* Item - Society */
.envi_society {
  background: url(../image/bg-logicares-desktop.jpg) no-repeat center center /
    cover;
}
/* Item - Award */
.envi_award {
  background: url(../image/bg-design-desktop.jpg) no-repeat center center /
    cover;
}
/* Item - Introduction */
.envi_introduction {
  background: url(../image/bg-about-desktop.jpg) no-repeat center center / cover;
}
/* ########## Footer ########## */
footer {
  background-color: #252a2c;
  padding-top: 100px;
  color: #999;
  font-weight: 400;
}
.sitemap {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid #999;
}
.sitemap .item {
  flex-basis: 200px;
  line-height: 3em;
}
.sitemap .item b {
  display: block;
  color: #fff;
  font-weight: 700;
}
.sitemap .item a {
  display: block;
  color: #bbb;
}
.sitemap .item a:hover {
  text-decoration: underline;
}
.social {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.social .sns {
  font-size: 25px;
}
.social .sns a {
  margin-right: 18px;
  transition: 0.35s;
}
.social .sns a:hover {
  color: #fff;
}
.social .email {
  width: 390px;
}
.social .email .input_field {
  position: relative;
}
.social .email .input_field input {
  font-size: 16px;
  width: 345px;
  height: 45px;
  border: none;
  padding-left: 20px;
}
.social .email .input_field input::placeholder {
  transition: 0.35s;
}
.social .email .input_field input:focus::placeholder {
  opacity: 0;
}
.social .email .input_field button {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #dcfc00;
  border: none;
  transition: 0.35s;
}
.social .email .input_field button:hover {
  background-color: #a2ba00;
}
.social .email .chk_field {
  margin-top: 10px;
}
.social .email .chk_field input {
  display: none;
}
.social .email .chk_field label {
  color: #bbb;
  cursor: pointer;
}
.social .email .chk_field label::before {
  content: "\F582";
  font-family: "bootstrap-icons";
  display: inline-block;
  color: #fff;
  margin-right: 8px;
  transform: translateY(2px);
}
.social .email .chk_field input:checked + label::before {
  content: "\F26C";
  color: #dcfc00;
}
.social .email .chk_field a {
  text-decoration: underline;
  font-weight: 700;
}
.copyright {
  margin-top: 20px;
  padding-bottom: 30px;
}
.policy_wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.policy {
  display: flex;
  gap: 30px;
}
.policy .links a:hover {
  text-decoration: underline;
}
.policy .links a:not(:last-child)::after {
  content: "|";
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 5px;
  transform: translateY(-1px);
}
.copyright .info {
  font-size: 13px;
}
.copyright .info a {
  font-weight: 700;
  text-decoration: underline;
}
.copyright .info a:hover {
  text-decoration: none;
}
.copyright .info a:first-child::after {
  content: "/";
  margin-left: 3px;
}
.copyright .info span {
}
.copyright .info span:not(:last-child)::after {
  content: "|";
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 5px;
  transform: translateY(-1px);
}
