/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
/* Reset CSS */
* {
  box-sizing: border-box;
  outline: none;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
body {
  font-size: 15px;
  line-height: 1.5em;
  margin: 0;
  height: 100vh;
  color: #fff;
}
/* ########## Sign In ########## */
.container {
  position: relative;
  height: inherit;
  background: url(./image/background.jpg) no-repeat center center / cover;
}
.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.sign_in {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
.sign_in img {
  display: block;
  margin: auto;
  width: 70px;
  height: 70px;
}
.sign_in h1 {
  margin-top: 20px;
  text-align: center;
}
.sign_in form {
  margin-top: 30px;
}
.input_field {
  margin-bottom: 20px;
}
.input_field input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 5px 0;
  color: #fff;
  font-size: 18px;
}
.input_field input::placeholder {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  transition: 0.35s;
}
.input_field input:focus::placeholder {
  opacity: 0;
}
.btn_sign_in {
  width: 100%;
  padding: 7px 0;
  background-color: #75b73c;
  border: none;
  border-radius: 20px;
  color: #fff;
  transition: 0.35s;
  margin-top: 10px;
}
.btn_sign_in:hover {
  background-color: #3c8a29;
}
.status {
  margin-top: 20px;
  overflow: hidden;
}
.chk_field {
  float: left;
}
.chk_field input {
  display: none;
}
.chk_field label {
  cursor: pointer;
}
.chk_field label::before {
  content: "\f096";
  font-family: "fontawesome";
  display: inline-block;
  transform: translateY(1px);
  width: 15px;
  height: 15px;
  margin-right: 5px;
  font-size: 18px;
  transition: 0.35s;
}
.chk_field input:checked + label::before {
  content: "\f14a";
  font-family: "fontawesome";
  color: #75b73c;
}
.forgot {
  float: right;
}
.forgot:hover {
  text-decoration: underline;
}
