/* Bootstrap Icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* XEICON CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
/* Reset CSS */
* {
  box-sizing: border-box;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2em;
}
body {
  font-size: 15px;
  line-height: 1.5em;
  margin: 0;
  color: #333;
  overflow-x: hidden;
}
/* ########## Layout ########## */
.container {
  width: 100vw;
  overflow: hidden;
}
/* ########## Header ########## */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
  color: #fff;
  transition: 0.5s;
  z-index: 900;
}
header.active {
  background-color: #fff;
  color: #333;
}
header .logo {
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
  width: 200px;
  margin-bottom: 20px;
  z-index: 1;
  transition: 0.5s;
}
header.active .logo {
  filter: invert(1);
}
header .logo img {
  width: 100%;
}
nav {
  position: relative;
  width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  z-index: 1000;
}
nav::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 1px;
  background-color: #fff;
}
header.active nav::after {
  background-color: #333;
  height: 1px;
  z-index: 100;
}
/* ##### Header - LNB ##### */
.lnb {
  display: flex;
  text-align: center;
}
.lnb li {
  position: relative;
  margin: 0 10px;
}
.lnb li i {
  font-size: 20px;
  cursor: pointer;
}
.lnb li:nth-child(3) i {
  font-size: 23px;
}
.lnb li:nth-child(1) i,
.lnb li:nth-child(4) i {
  font-size: 18px;
}
.lnb li .drop_down {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  width: 80px;
  border-radius: 3px;
  background-color: #fff;
  opacity: 0.8;
  display: none;
  padding: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.lnb li:hover .drop_down {
  display: block;
}
.lnb li .drop_down a {
  font-size: 14px;
  display: block;
  padding: 2px 0;
  color: #333;
}
/* ##### Header - GNB ##### */
.gnb {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gnb::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: 0.5s;
  display: none;
}
.gnb.active::after {
  display: block;
}
.gnb.product::after {
  width: 30%;
}
.gnb.collection::after {
  left: 30%;
  width: 36%;
}
.gnb.smegazine::after {
  left: 66%;
  width: 33%;
}
.gnb li {
  flex: 1;
  padding: 15px;
  cursor: pointer;
}
.gnb li .tab_title {
  display: block;
  text-transform: uppercase;
}
/* ##### Header - Trigger ##### */
.trigger {
  position: absolute;
  top: 7px;
  right: 0;
  width: 25px;
  height: 15px;
  cursor: pointer;
  z-index: 9999;
  transition: 0.5s;
}
.trigger.active {
  top: -60px;
  right: 20px;
}
.trigger span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: 0.5s;
}
.trigger.active span,
header.active .trigger span {
  background-color: #333;
}
.trigger span:nth-child(1) {
  top: 0;
}
.trigger span:nth-child(2) {
  width: 80%;
  top: 50%;
}
.trigger span:nth-child(3) {
  top: 100%;
}
.trigger.active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
.trigger.active span:nth-child(2) {
  opacity: 0;
}
.trigger.active span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}
/* ##### Header - Sitemap ##### */
.sitemap {
  position: absolute;
  top: -80px;
  left: 0;
  width: 1250px;
  height: 95vh;
  overflow-y: auto;
  background-color: #fff;
  color: #333;
  z-index: 1100;
  display: flex;
}
/* COMMON */
.sitemap::-webkit-scrollbar {
  display: none;
}
.sitemap h3 {
  font-size: 18px;
  margin-bottom: 30px;
}
.sitemap a {
  display: block;
}
.sitemap a:hover {
  text-decoration: underline;
}
.sitemap_product,
.sitemap_service {
  padding: 50px;
}
/* Sitemap - Product */
.sitemap_product {
  flex: 3;
  width: 300px;
  height: fit-content;
  border-right: 1px solid #ddd;
}
.sitemap_product .items {
  display: flex;
}
.sitemap_product .items:not(:first-child) {
  margin-top: 30px;
}
.sitemap_product .item {
  flex: 1;
}
.sitemap_product .item b {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
.sitemap_product .item a {
  font-size: 14px;
  color: #777;
}
.sitemap_product .item a::before {
  content: "\F309";
  font-family: "bootstrap-icons";
  display: inline-block;
  transform: translateY(2px);
}
.sitemap_product .item a span {
  display: block;
  margin-left: 15px;
  margin-bottom: 5px;
}
/* Sitemap - Collection */
.sitemap_collection {
  flex: 2;
  border-right: 1px solid #ddd;
  height: 100%;
}
.sitemap_collection h3 {
  margin-top: 50px;
  margin-left: 50px;
}
.collection_items {
  padding: 0 50px;
  padding-bottom: 50px;
  line-height: 2em;
}
.sitemap_search {
  position: relative;
  height: 450px;
  background: url(./image/full_menu_img.png) no-repeat bottom center / cover;
  padding: 20px;
}
.sitemap_search input {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  background-color: transparent;
  border: 2px solid #fff;
  caret-color: #fff;
  color: #fff;
}
.sitemap_search input::placeholder {
  color: #fff;
  transition: 0.35s;
}
.sitemap_search input:focus::placeholder {
  color: transparent;
}
.sitemap_search img {
  position: absolute;
  top: 32px;
  right: 35px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.border_right {
  height: 310px;
  border-right: 1px solid #ddd;
}
/* Sitemap - Service */
.sitemap_service {
  padding: 0;
  flex: 2;
  height: 100%;
}
.center {
  border-bottom: 1px solid #ddd;
  padding: 50px;
  line-height: 2em;
}
.center a {
}
.my_smeg {
  padding: 50px;
  line-height: 2em;
}
.my_smeg h3 {
}
/* ##### Hedaer - Header Dropdown ##### */
.header_drop_down {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 130px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
.product_drop_down,
.collection_drop_down,
.smegazine_drop_down {
  opacity: 0;
  visibility: hidden;
}
.product_drop_down.active,
.collection_drop_down.active,
.smegazine_drop_down.active {
  opacity: 1;
  visibility: visible;
}
.header_drop_down .inner {
  width: 1250px;
  margin: auto;
  display: flex;
  gap: 40px;
}
.header_drop_down .inner .links {
  flex: 1;
  border-right: 1px solid #ddd;
  padding: 20px 0;
}
.header_drop_down .inner .links a {
  display: block;
  color: #999;
  font-size: 16px;
  padding: 10px 0;
  transition: 0.35s;
}
.header_drop_down .inner .links a:hover {
  position: relative;
  color: #333;
  text-decoration: underline;
}
.header_drop_down .inner .links a:hover::after {
  content: attr(data-count);
  position: absolute;
  font-size: 12px;
  top: 0px;
}
.header_drop_down .inner .photo {
  flex: 5;
  padding: 30px 0;
}
.header_drop_down .inner .photo img {
  width: 100%;
}
.smegazine_drop_down .inner {
  flex-direction: column;
  gap: 30px;
  padding: 30px 0;
}
.smegazine_drop_down .items {
  display: flex;
  gap: 30px;
}
.smegazine_drop_down .item {
  position: relative;
  flex: 1;
  height: 220px;
  overflow: hidden;
}
.smegazine_drop_down .item img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  transition: 0.35s;
}
.smegazine_drop_down .item:hover img {
  transform: scale(1.1);
}
.smegazine_drop_down .item span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.3em;
  width: 100%;
  padding: 30px;
  text-align: center;
  font-size: 24px;
  color: transparent;
  transition: 0.35s;
  pointer-events: none;
}
.smegazine_drop_down .item:hover span {
  color: #fff;
}
/* ########## Section - Intro ########## */
section.intro {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
section.intro iframe {
  pointer-events: none;
  position: relative;
  transform: scale(1.3);
  width: inherit;
  height: inherit;
  z-index: -1;
}
/* ########## Section - Coffee, Mixer, Wine Cooler  ########## */
/* ##### COMMON ##### */
.feature .learn_more {
  position: relative;
  height: 600px;
}
.coffee .learn_more {
  background: url(./image/main_visual_02.jpg) no-repeat center center / cover;
}
.mixer .learn_more {
  background: url(./image/main_item_visual_hmf01.png) no-repeat center center /
    cover;
}
.wine_cooler .learn_more {
  background: url(./image/main_item_visual_SCV115A.png) no-repeat center center /
    cover;
}
/* ##### Heading ##### */
/* COMMON */
.coffee_heading,
.mixer_heading,
.wine_cooler_heading {
  position: absolute;
  top: 50%;
  left: 300px;
  transform: translateY(-50%);
}
:is(.coffee_heading, .mixer_heading, .wine_cooler_heading) a {
  display: inline-block;
  font-size: 16px;
  padding: 10px 30px;
  border: 1px solid #333;
}
/* mixer_heading, wine_cooler_heading */
.mixer_heading,
.wine_cooler_heading {
  color: #fff;
}
:is(.mixer_heading, .wine_cooler_heading) a {
  border-color: #fff;
}
/* Coffee_heading */
.coffee_heading h2 {
  font-size: 24px;
  font-weight: 500;
}
.coffee_heading p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
}
/* ##### Coffee, Mixer - Detail ##### */
.feature .detail {
  overflow: hidden;
}
/* ##### Color ##### */
.feature .detail .color {
  float: left;
  width: 50%;
  text-align: center;
  height: 830px;
  padding: 50px;
  background-color: #f7f7f7;
}
.feature .detail .color input {
  display: none;
}
.coffee_machine,
.mixer_machine,
.wine_cooler_machine {
  position: relative;
  margin: auto;
  width: 530px;
  height: 530px;
  margin-top: 45px;
}
.feature .item {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  opacity: 0;
  transition: 0.5s;
}
.wine_cooler .item {
  opacity: 1;
}
.feature .item img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
:is(.coffee, .mixer, .wine_cooler) h2 {
  font-size: 34px;
  margin-top: 20px;
}
.wine_cooler h2 {
  margin-top: 50px;
}
.btn_colorize {
  margin-top: 25px;
}
.btn_colorize label {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 0;
  margin: 0 7px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
/* Coffee - colorize */
.coffee .btn_colorize label:nth-child(1) {
  background-color: #ffffff;
}
.coffee .btn_colorize label:nth-child(2) {
  background-color: #484848;
}
.coffee .btn_colorize label:nth-child(3) {
  background-color: #cc4043;
}
.coffee .btn_colorize label:nth-child(4) {
  background-color: #8e8179;
}
/* Mixer - colorize */
.mixer .btn_colorize label:nth-child(1) {
  background-color: #fffbeb;
}
.mixer .btn_colorize label:nth-child(2) {
  background-color: #ffffff;
}
.mixer .btn_colorize label:nth-child(3) {
  background-color: #ffc5e0;
}
.mixer .btn_colorize label:nth-child(4) {
  background-color: #cdecd7;
}
.mixer .btn_colorize label:nth-child(5) {
  background-color: #ddebf6;
}
.mixer .btn_colorize label:nth-child(6) {
  background-color: #dc1a23;
}
.mixer .btn_colorize label:nth-child(7) {
  background-color: #000000;
}
/* ##### Coffee, Mixer, Wine Cooler - Photo ##### */
:is(.coffee, .mixer, .wine_cooler) .detail .photo {
  float: right;
  width: 50%;
  height: 830px;
}
:is(.coffee, .mixer, .wine_cooler) .detail .photo img {
  height: inherit;
}
/* ##### Radio Check Function ##### */
input[id="coffee_white"]:checked ~ .btn_colorize label[for="coffee_white"],
input[id="coffee_black"]:checked ~ .btn_colorize label[for="coffee_black"],
input[id="coffee_red"]:checked ~ .btn_colorize label[for="coffee_red"],
input[id="coffee_taupe"]:checked ~ .btn_colorize label[for="coffee_taupe"] {
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
input[id="coffee_white"]:checked ~ .coffee_machine .white,
input[id="coffee_black"]:checked ~ .coffee_machine .black,
input[id="coffee_red"]:checked ~ .coffee_machine .red,
input[id="coffee_taupe"]:checked ~ .coffee_machine .taupe {
  opacity: 1;
}
/* Mixer */
input[id="mixer_cream"]:checked ~ .btn_colorize label[for="mixer_cream"],
input[id="mixer_white"]:checked ~ .btn_colorize label[for="mixer_white"],
input[id="mixer_pink"]:checked ~ .btn_colorize label[for="mixer_pink"],
input[id="mixer_seagreen"]:checked ~ .btn_colorize label[for="mixer_seagreen"],
input[id="mixer_skyblue"]:checked ~ .btn_colorize label[for="mixer_skyblue"],
input[id="mixer_red"]:checked ~ .btn_colorize label[for="mixer_red"],
input[id="mixer_black"]:checked ~ .btn_colorize label[for="mixer_black"] {
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
input[id="mixer_cream"]:checked ~ .mixer_machine .cream,
input[id="mixer_white"]:checked ~ .mixer_machine .white,
input[id="mixer_pink"]:checked ~ .mixer_machine .pink,
input[id="mixer_seagreen"]:checked ~ .mixer_machine .seagreen,
input[id="mixer_skyblue"]:checked ~ .mixer_machine .skyblue,
input[id="mixer_red"]:checked ~ .mixer_machine .red,
input[id="mixer_black"]:checked ~ .mixer_machine .black {
  opacity: 1;
}
/* ########## Section - News ########## */
section.news {
  padding: 150px 0;
}
.news_inner {
  width: 1250px;
  margin: auto;
  display: flex;
}
.news .heading {
  flex: 1;
}
.news .heading h2 {
  font-size: 48px;
  text-align: center;
}
.news .heading span {
  display: inline-block;
  margin-left: 80px;
  margin-top: 5px;
  text-align: center;
  color: #666666;
  font-weight: 300;
}
.banner_outer .items {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}
.banner_outer .item a {
  display: inline-block;
  width: 380px;
}
.banner_outer .item a img {
  width: inherit;
}
.banner_outer .item p {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
}
/* ########## Section - Benefit ########## */
section.benefit {
  position: relative;
  background: url(./image/main_bottom_bg.jpg) no-repeat center center / cover;
  height: 440px;
}
section.benefit::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.benefit_inner {
  position: relative;
  width: 1250px;
  margin: auto;
  height: inherit;
  z-index: 10;
  display: flex;
  align-items: center;
}
.benefit .desc {
  flex: 1;
  color: #fff;
}
.benefit .desc h2 {
  font-size: 48px;
  font-weight: 400;
}
.benefit .desc p {
  font-weight: 300;
}
.benefit .items {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.benefit .item {
  flex: 1;
  position: relative;
  width: 175px;
  height: 175px;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.2s;
}
.benefit .item a {
  display: inline-block;
  width: inherit;
  height: inherit;
}
.benefit .item:hover {
  filter: invert(1);
}
.benefit .item a img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}
.benefit .item span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ########## Footer ########## */
footer {
  background-color: #313131;
  padding: 50px 0;
}
.footer_inner {
  width: 1250px;
  margin: auto;
  display: flex;
}
.footer_inner > * {
  flex: 1;
}
footer .menu {
  color: #e3e3e3;
}
footer .menu .logo {
}
footer .menu .logo img {
}
footer .menu .links {
  margin-top: 30px;
}
.introduce a {
  font-size: 16px;
  margin-right: 35px;
}
.policy {
  margin-top: 20px;
}
.policy a {
  font-size: 14px;
}
.policy a:nth-child(2) {
  font-weight: bold;
}
.policy a:not(:last-child)::after {
  content: "|";
  display: inline-block;
  transform: translateY(-2px);
  font-size: 12px;
  margin-left: 22px;
  margin-right: 20px;
}
.smeg_info p {
  margin: 40px 0;
  font-size: 13px;
  color: #646464;
}
.smeg_info span {
}
.inquiry {
  padding-left: 120px;
  border: 1px solid white;
  color: #fff;
}
.repair {
  margin-top: 60px;
}
.repair a {
  font-size: 18px;
  font-weight: bold;
}
.safety {
  display: inline-block;
  margin-top: 70px;
}
.safety img {
}
footer .sns {
}
footer .sns a {
}
footer .sns a i {
}
/* ########## Button - To Top ########## */
.btn_top {
}
.btn_top a {
}
.btn_top a i {
}
